@{
    ViewBag.Title = "Home Page";
}

@*A Display se le pasa como parametro el nombre del ViewBag*@
<h1 style="color:red">Display con cadena de caracteres</h1>
@Html.Display("cadena")

@*A Display se le pasa como parametro el nombre del ViewBag*@
<h1 style="color:red">Display con objeto persona</h1>
@Html.Display("persona")